<a href="https://colab.research.google.com/github/NoelJoseRoach/NJR_colab/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
x=int(input("Enter your Salary"))
y=int(input("Enter HRA amount"))
z=int(input("Enter your Rent"))

v=z*12-(x*12)*10/100
b=x*12*50/100

Enter your Salary50000
Enter HRA amount100000
Enter your Rent15000

In [22]:
print("Actual Rent:", v)

Actual Rent: 120000.0

In [23]:
print(b)

300000.0

In [39]:
if b>v and y>v :
  print("Tax is exempted:",v)
  e=x*12+y-v
  print("Salary is :",e)
if v>b and y>b :
  print("Tax is exempted:",b)
  w=x*12+y-b
  print("Salary is :",w)
if b>y and v>y :
  print("Tax is exempted:",y)  
  q=x*12+y-y
  print("Salary is :",q)

Tax is exempted: 100000
Salary is : 13200000

In [45]:

x=int(input("Enter your Salary"))
y=int(input("Enter HRA amount"))
z=int(input("Enter your Rent"))

v=z*12-(x*12)*10/100
b=x*12*50/100 
e=x*12+y-v
w=x*12+y-b
q=x*12+y-y
t=[e,w,q]
h=min(t)
p=x*12+y-h
if x<=250000 :

  print("NO tax")
  print(h)
if p<=500000 and p>250000 :
  s=x-250000*30/100
  print("Taxable")
  print((x-250000)*5/100)
  print(h)
if p<=750000 and p>500000:
  s=x-500000*30/100
  j=500000-250000*5/100
  print("Taxable")
  print((500000-250000)*(5/100)+j)
  print(h)
  t
if p<=100000 and p>750000:
  s=x-750000*30/100
  h=750000-500000*10/100
  j=500000-250000*5/100
  print("Taxable")
  print((500000-250000)*(5/100)+h+j)
  print(h)
if p<1250000 and p>1000000:
  s=x-1000000*30/100
  g=1000000-750000*15/100
  h=750000-500000*10/100
  j=500000-250000*5/100
  print("Taxable")
  print((500000-250000)*(5/100)+g+h+j)
  print(h)
if p<1500000 and p>1250000:
  s=x-1250000*30/100
  f=1250000-1000000*20/100
  g=1000000-750000*15/100
  h=750000-500000*10/100
  j=500000-250000*5/100
  print("Taxable")
  print((500000-250000)*(5/100)+f+g+h+j) 
  print(h)
if p>1500000 :
  s=x-1500000*30/100
  d=1500000-1250000*25/100
  f=1250000-1000000*20/100
  g=1000000-750000*15/100
  h=750000-500000*10/100
  j=500000-250000*5/100
  print("Taxable")
  print((500000-250000)*(5/100)+d+f+g+h+j)
  print(h)

Enter your Salary600000
Enter HRA amount100000
Enter your Rent15000
Taxable
4325000.0
700000.0