<a href="https://colab.research.google.com/github/NoelJoseRoach/NJR_colab/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
df=pd.read_csv("Supermarket_sales.csv")

In [7]:
print(df)

       No    InvoiceID Branch       City Customertype  Gender  \
0       1  750-67-8428      A     Yangon       Member  Female
1       2  226-31-3081      C  Naypyitaw       Normal  Female
2       3  631-41-3108      A     Yangon       Normal    Male
3       4  123-19-1176      A     Yangon       Member    Male
4       5  373-73-7910      A     Yangon       Normal    Male
..    ...          ...    ...        ...          ...     ...
995   996  233-67-5758      C  Naypyitaw       Normal    Male
996   997  303-96-2227      B   Mandalay       Normal  Female
997   998  727-02-1313      A     Yangon       Member    Male
998   999  347-56-2442      A     Yangon       Normal    Male
999  1000  849-09-3807      A     Yangon       Member  Female

                Productline  Unitprice  Quantity      Tax      Total  \
0         Health and beauty      74.69         7  26.1415   548.9715
1    Electronic accessories      15.28         5   3.8200    80.2200
2        Home and lifestyle      46.33         7  16.2155   340.5255
3         Health and beauty      58.22         8  23.2880   489.0480
4         Sports and travel      86.31         7  30.2085   634.3785
..                      ...        ...       ...      ...        ...
995       Health and beauty      40.35         1   2.0175    42.3675
996      Home and lifestyle      97.38        10  48.6900  1022.4900
997      Food and beverages      31.84         1   1.5920    33.4320
998      Home and lifestyle      65.82         1   3.2910    69.1110
999     Fashion accessories      88.34         7  30.9190   649.2990

           Date   Time      Payment    cogs  gross_margin_percentage  \
0    01-05-2019  13:08      Ewallet  522.83                 4.761905
1    03-08-2019  10:29         Cash   76.40                 4.761905
2    03-03-2019  13:23  Credit card  324.31                 4.761905
3     1/27/2019  20:33      Ewallet  465.76                 4.761905
4    02-08-2019  10:37      Ewallet  604.17                 4.761905
..          ...    ...          ...     ...                      ...
995   1/29/2019  13:46      Ewallet   40.35                 4.761905
996  03-02-2019  17:16      Ewallet  973.80                 4.761905
997  02-09-2019  13:22         Cash   31.84                 4.761905
998   2/22/2019  15:33         Cash   65.82                 4.761905
999   2/18/2019  13:28         Cash  618.38                 4.761905

     gross_iincome  Rating
0          26.1415     9.1
1           3.8200     9.6
2          16.2155     7.4
3          23.2880     8.4
4          30.2085     5.3
..             ...     ...
995         2.0175     6.2
996        48.6900     4.4
997         1.5920     7.7
998         3.2910     4.1
999        30.9190     6.6

[1000 rows x 18 columns]

In [8]:
df.head()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,03-08-2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [10]:
df.tail()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,03-02-2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,02-09-2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [11]:
df.InvoiceID

0      750-67-8428
1      226-31-3081
2      631-41-3108
3      123-19-1176
4      373-73-7910
          ...
995    233-67-5758
996    303-96-2227
997    727-02-1313
998    347-56-2442
999    849-09-3807
Name: InvoiceID, Length: 1000, dtype: object

In [13]:
df.InvoiceID[1]

'226-31-3081'

In [14]:
df.City[49]

'Naypyitaw'

In [17]:
df.Branch[99]

'B'

In [18]:
df.Customertype[999]

'Member'

In [19]:
df.shape

(1000, 18)

In [20]:
if df.City[18]=="Yangon":
  print(df.Branch[18])

A

In [21]:
if df.Customertype[100]=="Member":
  print(df.InvoiceID[100])

163-56-7055

In [22]:
df.Unitprice.max()

99.96

In [23]:
df.Unitprice.min()

10.08

In [24]:
df.Unitprice.mean()

55.67213

In [25]:
df.Quantity.max()

10

In [26]:
df.Quantity.min()

1

In [27]:
df.Quantity.mean()

5.51

In [34]:
df.loc[df['Productline']=="Health and beauty"].Quantity.max()

10

In [35]:
df.loc[df['Productline']=="Health and beauty"].Quantity.min()

1

In [36]:
df.loc[df['Productline']=="Health and beauty"].Quantity.mean()

5.618421052631579

In [37]:
df.loc[df['Productline']=="Health and beauty"].Unitprice.max()

99.96

In [38]:
df.loc[df['Productline']=="Health and beauty"].Unitprice.min()

10.08

In [39]:
df.loc[df['Productline']=="Health and beauty"].Unitprice.mean()

54.85447368421053

In [40]:
df.loc[df['Productline']=="Electronic accessories"].Quantity.max()

10

In [41]:
df.loc[df['Productline']=="Electronic accessories"].Quantity.min()

1

In [42]:
df.loc[df['Productline']=="Electronic accessories"].Quantity.mean()

5.711764705882353

In [57]:
df.loc[(df['Productline']=="Health and beauty") & (df['Gender']=="Male")].Gender.count()

88

In [59]:
df.loc[(df['Productline']=="Fashion accessories") & (df['Gender']=="Female")].Gender.count()

96

In [ ]:
df.loc[(df['Productline']=="Fashion accessories" & "Sports and travel") & (df['Gender']=="Female")].Gender.count()