<a href="https://colab.research.google.com/github/NoelJoseRoach/NJR_colab/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
x=int(input("enter your marks"))

enter your marks50

In [12]:
if x>50 :
  print("You have passed the exam")
if x<50 :
  print("You have failed")  
if x==50 :
  print("Just Pass")

Just Pass

In [13]:
x=int(input("Enter Your Salary"))

Enter Your Salary270000

In [14]:
if x>250000 :
  print("You're Taxable")  
if x<250000 :
  print("You're not Taxable")

You're Taxable

In [35]:
x=int(input("Enter salary"))

Enter salary300000

In [36]:
if x>250000 :
  print("your Taxable")
  tax=x-250000*10/100
if x<250000 :
  print("your not taxable")

your Taxable

In [37]:
tax

275000.0

In [42]:
if x>250000 and x<500000 :
  print("10% tax")
  y=x-250000
  print(y*10/100)
if x>500000 :
  print("20% tax")
  z=x-500000 
  print(z*20/100)

10% tax
5000.0

In [66]:
x=int(input("Enter your Salary"))
if x<=250000 :
  print("NO tax")
if x<=500000 and x>250000 :
  s=x-250000
  print("Taxable")
  print(s*5/100)
if x<=750000 and x>500000:
  s=x-500000
  j=500000-250000*5/100
  print("Taxable")
  print(s*10/100+j)
if x<=100000 and x>750000:
  s=x-750000
  h=750000-500000*10/100
  j=500000-250000*5/100
  print("Taxable")
  print(s*15/100+h+j)
if x<1250000 and x>1000000:
  s=x-100000
  g=1000000-750000*15/100
  h=750000-500000*10/100
  j=500000-250000*5/100
  print("Taxable")
  print(s*20/100+g+h+j)
if x<1500000 and x>1250000:
  s=x-1250000
  f=1250000-1000000*20/100
  g=1000000-750000*15/100
  h=750000-500000*10/100
  j=500000-250000*5/100
  print("Taxable")
  print(s*25/100+f+g+h+j) 
if x>1500000 :
  s=x-1500000
  d=1500000-1250000*25/100
  f=1250000-1000000*20/100
  g=1000000-750000*15/100
  h=750000-500000*10/100
  j=500000-250000*5/100
  print("Taxable")
  print(s*30/100+d+f+g+h+j)

Enter your Salary1100000
Taxable
2275000.0